<div class="search-result">
  <p title="<%= url %>" class="url">
    <%= url.slice(0, 50) %><% if (url.length > 50) { %>...<% } %>
  </p>
  <a href="<%= url %>" title="<%= title %>">
    <%= title.slice(0, 50) %><% if (title.length > 50) { %>...<% } %></a
  >
</div>
