<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head.ejs") %>
    <link rel="stylesheet" href="css/header.css" />
    <link rel="stylesheet" href="css/search-results.css" />
  </head>
  <body>
    <header>
      <a href="/" class="small-logo">Ding</a>
      <%- include("partials/search-form-small.ejs") %>
      <nav class="links">
        <ul>
          <li><a href="/about">About</a></li>
        </ul>
      </nav>
    </header>

    <div class="search-results-container">
      <% if (fixedSpelling) { %>
      <div class="spelling-correction">
        <span class="material-symbols-rounded"> magic_button </span>
        <p>
          Did you mean
          <a href="/search?q=<%= queryFixedSpelling %>"
            ><%= queryFixedSpelling %></a
          >?
        </p>
      </div>
      <% } %> <% if (results.length == 0) { %>
      <p>No results found.</p>
      <% } else { %> <% results.forEach(result => { %> <%-
      include("partials/search-result.ejs", { title: result.title, url:
      result.url, description: result.description }) %> <% }); %> <% } %>
    </div>
  </body>
</html>
